.texto-menor {
    font-size: 13px;
}

.facilidades {
    width: 325px;
}

.novidades {
    width: 325px;
}

.botao {
    background-color: #9353FF;
}

.card {
    transition: transform 0.5s ease, opacity 0.5s ease; 
  }
  
  .card:hover {
    transform: scale(1.05); 
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out; 
  }
  
  .card img {
    transition: opacity 0.5s ease-in-out; 
  }
  
  .card:hover img {
    opacity: 0.8; 
  }
  
  .card-header {
    transition: background-color 0.5s ease-in-out; 
  }
  
  .card-header:hover {
    background-color: #9353FF; 
  }
  
  .custom-caption {
    top: initial; 
  }
  
.red {
    color: #E90A0A;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

    .custom-caption {
        top: 38%; 
     
      }
      
}
